.btn-sign-in{
    border-radius: 0;
}
@font-face {
    font-family: MontSerrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
.ng-scope {
    /*   border:1px solid black;*/
}
body{
    font-family: MontSerrat,Arial,Sans-Serif;
}
.home .btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}
.home .btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}
.home .btn-default:hover,
.home .btn-default:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
}
.home .h1-heading {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 250px;
    margin-left: 10px;
}
.footer{
    text-align: center;
}
.footer i{
    font-size: 35px;
}
.text-main{
    text-align: justify;
}
.blogs-elements{

}
.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}
.intro-header .post-heading h1 {
    font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}
.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}
.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}
.intro-header .post-heading .meta a {
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}
.footer{

}
.register{
    color:#FFFFFF;
}
.register input{
    width: 400px;
}
.alert-warning1{
    width: 400px;
}
.login{
    color: #FFFFFF;
}
.alert-warning2{
    width: 360px;
}
.blogs-elements1{
    color: #FFFFFF;
    width: 40%;
}
.blogs-elements1 input{
    width: 400px;
}
.password-content{
    width: 40%;
    color: #FFFFFF;
}

.settings-content{
    color: #FFFFFF;
}
.settings-content input{
    width: 60%;
}




