<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <div ng-repeat="blog in resultBlogs">
                    <h2>Name: {{blog.name}}                    </h2>
                    <h3>Description: {{blog.description}}</h3>
                    <button class="btn btn-success" ui-sref="blogs.blog({blogId: blog.id})">Open</button>
                </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <div infinite-scroll="apiblogs.nextPage()" infinite-scroll-distance="2">
                <div ng-repeat="blog in apiblogs.items">
                    <h2>Name: {{blog.name}}                    </h2>
                    <h3>Description: {{blog.description}}</h3>
                    <button class="btn btn-success" ui-sref="blogs.blog({blogId: blog.id})">Open</button>
                </div>
            </div>
        </div>
    </div>
</div>