<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div ng-show="postMaker">
                    <h2>{{post.id}}</h2>
                    <input type="text" ng-model="editPost.text" value="{{post.name}}"/>
                    <input type="text" ng-model="editPost.text" value="{{post.text}}"/></h5>
                    <input type="text" ng-model="editPost.text" value="{{post.name}}"/></h5>
                    <h5>{{post.text}}</h5>
                    <h5>{{post.timeAdded}}</h5>

            </div>
            <div ng-hide="postMaker">
                <h2>{{post.id}}</h2>
                <h2>{{post.name}}</h2>
                <h2>{{post.text}}</h2>
                <h2>{{post.timeAdded}}</h2>
            </div>
        </div>
    </div>
</div>