<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br>
            <div class="pull-right" ng-show="postMaker">
                <button class="btn btn-danger" ng-click="editPostMode()">Edit Blog Post</button>
            </div>
            <div ng-show="editMode">
                <form name="form" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="editPost.name"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="editPost.text" rows="5"></textarea>
                    </div>
                    <!--  <input type="text" class="form-control" ng-model="editPost.text"/>-->
                    <p>{{post.timeAdded | date: 'dd-MM-yyyy HH:mm'}}</p>
                    <button type="submit" class="btn btn-success" ng-click="savePost()">Save Post</button>
                    <button type="submit" class="btn btn-warning" ng-click="cancelEditPostMode()">Cancel</button>
                </form>

            </div>
            <div ng-hide="editMode">
                <h2 align="center">{{post.name}}</h2>
                <p class="blog-text-settings">{{post.text}}</p>
                <p class="blog-text-date-settings">Created on: {{post.timeAdded | date: 'dd-MM-yyyy HH:mm'}}</p>
            </div>
            <h2 class="page-header">Comments</h2>
            <form name="form2" role="form">
                <div class="form-group">
                    <textarea class="form-control" ng-model="comment.commentText" required rows="5"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="postComment()">Comment!</button>
            </form>
            <div ng-repeat="comment in post.comments">
                <div class="media">
                    <div class="media-left">
                        <img data-ng-src="data:image/PNG;base64,{{comment.userId.userImage}}" class="media-object">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.userId.username}}<span> - {{comment.commentDate | date: 'dd-MM-yyyy HH:mm'}}</span>
                        </h4>
                        <p>{{comment.commentText}}</p>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>