<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center">Posts in <q>{{blog.name}}</q></h1>
            <div ng-repeat="post in posts">
                <h2>Name: {{post.name}}</h2>
                <h5>Blog text: {{post.text}}</h5>
                <h5>Date created: {{post.timeAdded | date: 'dd-MM-yyyy HH:mm'}}</h5>
                <button class="btn btn-warning" ui-sref="post({id:blog.id,blogPostId: post.id})">Open post</button>

            </div>


        </div>
    </div>
</div>