<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="pull-right" ng-show="postMaker">
                <button class="btn btn-danger" ng-click="editPostMode()">Edit Blog Post</button>
            </div>
            <div ng-show="editMode">
                <form name="form" role="form">
                    <input type="text" class="form-control" ng-model="editPost.name"/>
                    <input type="text" class="form-control" ng-model="editPost.text"/>
                    <p>{{post.timeAdded | date: 'dd-MM-yyyy HH:mm'}}</p>
                    <button type="submit" class="btn btn-success" ng-click="savePost()">Save Post</button>
                    <button type="submit" class="btn btn-warning" ng-click="cancelEditPostMode()">Cancel</button>
                </form>
                <div ng-repeat="comment in post.comments">
                    <h5>{{comment.commentId}}</h5>
                    <p>{{comment.commentText}}</p>
                    <p>{{comment.commentDate | date: 'dd-MM-yyyy HH:mm'}}</p>
                    <p>{{comment.userId.id}}</p>
                </div>
            </div>
            <div ng-hide="editMode">
                    <h2 align="center">{{post.name}}</h2>
                    <p class="blog-text-settings">{{post.text}}</p>
                    <p class="blog-text-date-settings">Created on: {{post.timeAdded | date: 'dd-MM-yyyy HH:mm'}}</p>
            </div>
        </div>
    </div>
</div>