<div class="container">
   <div class="page-header">
       <h1 class="page-heading col-lg-offset-4">Team15&reg; Solutions</h1>
   </div>
    <div class="col-sm-6 col-lg-offset-4">
        <h3>Front-end department</h3>
    </div>
  <div class="col-lg-offset-3">
      <div class="col-lg-4" >
          <img  src="images/andrea.jpg" class="img-circle" width="80%"/>
          <p class="col-lg-offset-1">Andrea Angelova</p>
      </div>
      <div class="col-lg-4">
          <img  src="images/damsi.jpg" class="img-circle  " width="80%"/>
          <p class="col-lg-offset-1">Damjan Miloshevski</p>
      </div>
  </div>

</div>

