<div class="container">
    <h2>Our team</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Front-end</th>
            </tr>
            </thead>
            <tbody>
            <tr>
               <td>
                   <div>
                       <img src="images/andrea.jpg" class="img-circle" width="60%"/>
                   </div>
               </td>
                <td>
                    <div>
                        <img src="images/damsi.jpg" class="img-circle" width="60%"/>
                    </div>
                </td>
                <tr>
                    <td>
                        <p>Andrea Angelova</p>
                    </td>
                <td>
                    <p>Damjan Miloshevski</p>
                </td>
                </tr>
            </tr>
            <th>Back-end</th>
            <tr>

                <td>
                    <div>
                        <img src="images/marija.jpg" class="img-circle" width="60%"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="images/stefan.jpg" class="img-circle" width="60%"/>
                    </div>
                </td>
                <td>
                    <div>
                        <img src="images/nikola.jpg" class="img-circle" width="60%"/>
                    </div>
                </td>
            <tr>
                <td>
                <p>Marija Predarska/p>
            </td>
                <td>
                <p>Stefan Peshikj</p>
            </td>
                <td>
                    <p>Nikola Spasovski</p>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <h3 class="page-heading">
                Contact us:
            </h3>
            <a href="mailto:contact@blog15.com">contact@blog15.com</a>
        </div>
    </div>
</div>

