
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <h1 align="center">Team15 &reg; Solutions</h1>
                <div class="table-responsive ">
                    <table class="table table-responsive" align="center">
                        <tr>
                            <td>
                                <div align="center">
                                    <h3>Front-end department</h3>
                                </div>
                               <div align="center" style="padding: 10px;">
                                   <img src="images\andrea.jpg" width="20%" class="img-circle"/>
                                   Andrea Angelova
                                   <img src="images\damsi.jpg" width="20%" class="img-circle" />
                                   Damjan Miloshevski
                               </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="center">
                                    <h3>Back-end department</h3>
                                </div>
                                <div align="center">
                                    <img src="images\marija.jpg" class="img-circle" width="20%"/>
                                    Marija Predarska
                                    <img src="images\stefan.jpg" class="img-circle" width="20%"/>
                                    Stefan Peshikj
                                    <img src="images\nikola.jpg" class="img-circle" width="20%"/>
                                    Nikola Spasovski
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
