<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div class="home">
    <div>
        <header class="intro-header" style="background-image: url('images/page-heading.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">  <br/><br/><br/>
                        <div class="page-heading">
                            <!--<h1>Clean Blog</h1>-->
                            <!--<hr class="small">-->
                            <h2 class="h1-heading">Welcome to Blog15</h2>
                            <div ng-hide="isAuthenticated()">
                                <div>
                                    <button class="btn btn-primary btn-sign-in" ui-sref="login">Sign in</button>
                                </div>
                                <span class="subtitle">or</span>
                                <div>
                                    <button class="btn btn-primary" ui-sref="register">Sign up</button>
                                </div>
                            </div>
                            <div ng-show="isAuthenticated()">
                                <br/><br/><br/>
                                <button class="btn btn-primary btn-sign-in" ui-sref="blogs">Start Blogging</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="page-header">Why Blog15?</h1>
                    <p class="text-main">
                        It's the best place for all your blogging needs.
                        Create stories, ideas, memories and share them with your friends.
                        Explore and find other people and interact with them.
                        Just make an account and you can write your first blog in an instant.
                        Personalise and make your own blogspace.
                        It's simple, easy and fun.<br/>
                        What are you waiting for?
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="images/logo.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                    <h1 class="page-header">Tell Your Story</h1>
                    <p class="text-main">
                        Blogging enables you to be your own media company. You can tell your story the way you want to tell it without being dependent on journalists. When you are writing about a topic of your own interest,
                        you can decide how to portray a story, what information to include, and what information to exclude.
                        Blogging allows you to ensure that all information included in the blog is factual.
                    </p>
                    <!--Source: <a href="http://www.huffingtonpost.com/michael-b-fishbein/10-reasons-you-should-sta_b_5326353.html">-->
                    <!--http://www.huffingtonpost.com/michael-b-fishbein/10-reasons-you-should-sta_b_5326353.html-->
                </a>
                </div>
            </div>
        </div>

    </div>

</div>