<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div class="home">
    <div>
        <header class="intro-header" style="background-image: url('images/page-heading.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">  <br/><br/><br/>
                        <div class="page-heading">
                            <!--<h1>Clean Blog</h1>-->
                            <!--<hr class="small">-->
                            <h2 class="h1-heading">Welcome to Blog15</h2>
                            <div ng-hide="isAuthenticated()">
                                <div>
                                    <button class="btn btn-primary btn-sign-in" ui-sref="login">Sign in</button>
                                </div>
                                <span class="subtitle">or</span>
                                <div>
                                    <button class="btn btn-primary" ui-sref="register">Sign up</button>
                                </div>
                            </div>
                            <div ng-show="isAuthenticated()">
                                <br/><br/><br/>
                                <button class="btn btn-primary btn-sign-in" ui-sref="blogs">Start Blogging</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="page-header">Why Blog15?</h1>
                    <p class="text-main">
                        It's the best place for all your blogging needs.
                        Create stories, ideas, memories and share them with your friends.
                        Explore and find other people and interact with them.
                        Just make an account and you can write your first blog in an instant.
                        Personalise and make your own blogspace.
                        It's simple, easy and fun.<br/>
                        What are you waiting for?
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="images/logo.png"/>
                </div>
                <div class="col-sm-4">
                    <h1 class="page-header">Tell Your Story</h1>
                    <p class="text-main">
                        Blogging enables you to be your own media company. You can tell your story the way you want to tell it without being dependent on journalists. When you are writing about a topic of your own interest,
                        you can decide how to portray a story, what information to include, and what information to exclude.
                        Blogging allows you to ensure that all information included in the blog is factual.
                    </p>
                    <!--Source: <a href="http://www.huffingtonpost.com/michael-b-fishbein/10-reasons-you-should-sta_b_5326353.html">-->
                    <!--http://www.huffingtonpost.com/michael-b-fishbein/10-reasons-you-should-sta_b_5326353.html-->
                </a>
                </div>
            </div>
        </div>

    </div>
    <!-- Main Content
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of
                            mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future
                            generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>
                <hr>
                <!-- Pager
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
-->
    <hr>
</div>