<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Users</h2>
            <div class="alert alert-success" ng-show="success">
                <strong>Settings saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>
            <table st-table="displayedUsers" st-safe-src="userList" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <th colspan="5">
                        <input st-search="" placeholder="Global search..." class="input-sm form-control"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in displayedUsers" class="">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="updateUser(user)">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <h2>Users</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="user-management.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Email</th>
                <th></th>

                <th>Profiles</th>
                <th>CreatedDate</th>
                <th>LastModifiedBy</th>
                <th>LastModifiedDate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
                          style="cursor: pointer;">Desactivated</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
                          style="cursor: pointer;">Activated</span>
                </td>

                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.edit({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm"
                            ng-disabled="currentAccount.login==user.login">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page"
                        ng-change="loadAll()"></uib-pagination>
    </div>
</div>
