<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Users</h2>
            <div class="alert alert-success" ng-show="success">
                <strong>Settings saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>
            <table st-table="displayedUsers" st-safe-src="userList" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Admin</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <th >
                        <input st-search="" placeholder="Global search..." class="input-sm form-control"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in displayedUsers" class="">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>
